.form-label {
  margin-right: auto;
  width: 95px;
  display: inline-block;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  border: 1px solid #555;
  border-radius: 0;
  outline: none;
  width: 300px;
}

.form-control:focus {
  border: 1px solid red;
}
